h2 {
  line-height: 0%;
  text-align: center;
  font-family: 'Libre Baskerville';
  font-size: 350%;
}

h3 {
  line-height: 0%;
  font-size: 250%;
  padding-top: 2%;
}

h4 {
  line-height: 0%;
  font-size: 120%;
}

#contact-info {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

#resume-content {
  background-image: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFwZXJ8ZW58MHx8MHx8&w=1000&q=80");
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  text-align: left;
}

.date {
  float: right;
  margin: auto;
}

.school-and-position-names {
  font-weight: bolder;
  text-decoration: underline;
  padding-top: 1%;
}

.top-position {
  padding: 0%;
}

@media only screen and (max-width: 900px) {
    #content {
      width: 90%;
    }

    h2 {
      font-size: 200%;
    }
    
    h3 {
      font-size: 150%;
    }
    
    h4 {
      font-size: 90%;
    }

    body {
      font-size: 50%;
    }
}