h2 {
    line-height: 0%;
}

li {
    list-style-type: none;
}

#content a {
    font-weight: bolder;
}

#content {
    width: 50%;
}

.brand-logos {
    flex: 33.3%;
}

@media only screen and (max-width: 900px) {
  h2 {
    line-height: normal;
  }
}